.media-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  background-color: #FFFFFF;
  box-shadow: 0 28px 60px -12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: solid 1px black;
  //padding: 24px 26px 22px 56px;

  &__ellipse {
    width: 148px;
    height: 148px;
    position: relative;
    border-radius: 50%;

    &::after{
      content: "";
      position: absolute;
      top: 20%;
      left: 20%;
      width: 50%;
      height: 50%;
      border: 1px solid black;
      }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #aaaaaa;
    transform: rotate(-20deg);
  }
}