.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68%;
  margin: 0 auto;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 75px 0 53px 0;
  }

  &__line {
    width: 100%;
    border-top: 1px solid #E3E3EA;
  }

  &__copyright {
    margin: 30px 0;
  }
}