.instagram-logo {
  display: flex;
  align-items: center;

  &_type_media {
    gap: 0 8px;
  }

  &_type_newFrends {
    gap: 0 10px;
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
  }
}